<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <pipelines>
        <preprocessRequest>
            <processor patch:after="*[@type='Sitecore.Pipelines.PreprocessRequest.NormalizeRawUrl, Sitecore.Kernel']" type="AirProducts.Foundation.Redirect.Processors.UrlRedicrectsProcessor, AirProducts.Foundation" resolve="true"/>
        </preprocessRequest>

        </pipelines>
    </sitecore>
</configuration>