<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="ExternalReviewers.Processors.ReviewResolver, ExternalReviewers" resolve="true"/>
            </httpRequestBegin>
        </pipelines>
        <scheduling>
            <agent type="ExternalReviewers.Agents.ReviewsCleanerAgent" method="Run" interval="02:00:00">
                <param desc="database">master</param>
                <param desc="root">/sitecore/system/reviews</param>
            </agent>
        </scheduling>
    </sitecore>
</configuration>