<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Preview Page'}}
</head>
<body>
  {{>header}}

  <section role="main">
    <h1>Preview Page</h1>
  </section>
  <!-- Footer -->
  {{>footer}}
</body>
</html>
