<!DOCTYPE html>
<html lang="en">
<head>
  {{>head title='Preview Page'}}
</head>
<body>
  <section role="main">
    <div id="external-reviewers-container" data-src="/html/templates/test-page.html"></div>
  </section>

  {{>scripts}}
</body>
</html>
